In [1]:
import pandas as pd

C:\Users\Pepinot\AppData\Local\Temp\ipykernel_9960\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
#Leemos los dos datasets limpios
df1 = pd.read_csv('1.movies_dataset_limpio.csv')
df2 = pd.read_csv('1.credits_limpio.csv')

In [3]:
#Utilizaremos las columnas 'id' tanto de movies_dataset como de credits para unificar en un unico dataset.
#Para asegurarnos que no haya datos faltantes utilizamos 'inner' para hacer la union

df_combinado = df1.merge(df2, on='id', how='inner')

#Elimino las columnas nuevas que crea el metodo
df_combinado= df_combinado.drop(['Unnamed: 0_x', 'Unnamed: 0_y'], axis=1)

In [4]:
df_combinado.head(2)

,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,...,status,title,vote_average,vote_count,genre,id_genre,release_year,return,cast,director
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,...,Released,Toy Story,7.7,5415.0,"Animation, Comedy, Family","16, 35, 10751",1995,12.451801,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",John Lasseter
1,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,1995-12-15,262797249.0,104.0,...,Released,Jumanji,6.9,2413.0,"Adventure, Fantasy, Family","12, 14, 10751",1995,4.043035,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",Joe Johnston

In [5]:
df_combinado.to_csv('2.base_de_datos.csv')